/* #main{
    
    width:700px;
    height:1000px;
}
#arrow{
    font-size: 40px;
}
#hr{
   
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid rgb(0, 0, 0);
    margin: 1em 0; 
    padding: 0;
   
}
#circle{
    width: 45px; height:45px;
    background-color: 
    #7acfbb;
}
#upper{
    height:70px;
    border-bottom: 1px solid black;
} */